[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pyyaml = "*"
docker = "*"
requests = "*"
schema = "*"
packaging = "*"
questionary = "*"
emrichen = "*"
shutils = "*"
"ruamel.yaml" = "*"
roam = "*"
urllib3 = "==1.26.9"
lief = "==0.12.1"
python-gnupg = "==0.4.9"
libconf = "*"

[requires]
python_version = "3.8"
