[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pyyaml = "*"
docker = "*"
requests = "*"
schema = "*"
packaging = "*"
questionary = "*"
emrichen = "*"
shutils = "*"
"ruamel.yaml" = "*"
roam = "*"

[requires]
python_version = "3.8"
