# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Continuous Builds

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Get Version
        id: get_version
        run: echo ::set-output name=VERSION::$(grep -Po 'version="\K((\d|\.)+)' setup.py)
      - name: Install dependencies
        run: |
          sudo apt install -y python3.8-minimal python3-pip python3-setuptools patchelf desktop-file-utils libgdk-pixbuf2.0-dev fakeroot strace
          sudo wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O /usr/local/bin/appimagetool
          sudo chmod +x /usr/local/bin/appimagetool
      - name: Install appimage-builder
        run: |
          sudo python3.8 -m pip install .
      - name: Build AppImage
        run: |
          export APPIMAGE_BUILDER_VERSION=${{ steps.get_version.outputs.VERSION }}
          appimage-builder --skip-test
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2.1.4
        with:
          name: appimage-builder
          path: './appimage-builder*.AppImage*'
  test:
    runs-on: ubuntu-16.04
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Download AppImage from build job
        uses: actions/download-artifact@v2
        with:
          name: appimage-builder
      - name: Pack bash
        run: |
          BUILDER_PATH=$(find $PWD -name appimage-builder-*.AppImage)
          chmod +x $BUILDER_PATH
          $BUILDER_PATH --recipe ./examples/bash/AppImageBuilder.yml --skip-test
      - name: Test bash
        run: |
          ./bash*.AppImage --appimage-extract-and-run -c "echo Hello World"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2.1.4
        with:
          name: bash
          path: './bash*.AppImage*'
  publish:
    runs-on: ubuntu-20.04
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Download AppImage from build job
        uses: actions/download-artifact@v2
        with:
          name: appimage-builder
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          automatic_release_tag: Continuous
          files: './appimage-builder*.AppImage*'